# Dependencies
node_modules/

# Production build
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# IDE/editor folders
.vs/
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

.fake